// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:      #2F2C2F;
$value-active-color:    #ADBA4E;
$value-inactive-color:  #60626F;
$updated-color:         #DB6668;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-slack styles
// ----------------------------------------------------------------------------
.widget-slack {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .slack-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .active {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-active-color;
  }

  .inactive {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-inactive-color;
  }

  .error{
    color: red;
    font-weight: 600;
  }

  .updated-at {
    color: $updated-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
