// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:      #2F2C2F;
$value-active-color:    #ADBA4E;
$value-inactive-color:  #60626F;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-git styles
// ----------------------------------------------------------------------------
.widget-git {

  overflow-y: auto;

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 15px;
    border: 1px dashed white;
    border-radius: 5px;
    padding: 10px;
  }

  .git-nostyle {
    // list-style: none;
  }

  .label {
    color: $label-color;
  }

  .repository{
    position: relative;
    display: inline-block;
    width: 100%;
  }

  p{
    width: 100%;
  }

}
